<ion-header>

    <ion-navbar color="primary">
        <!-- <ion-title>{{ nombreLista || 'Nueva Lista'}}</ion-title> -->
        <ion-title>{{ nombreLista | textoPorDefecto:'Nueva Lista'}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-card>

        <ion-card-header>
            <ion-item>
                <ion-label floating>Nombre de la lista</ion-label>
                <ion-input [(ngModel)]="nombreLista" type="text"></ion-input>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label floating>Item:</ion-label>
                <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
            </ion-item>
            <button ion-button icon-left class="button-block"
            (click)="agregarItem()">
                <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
                Agregar Item
            </button>
        </ion-card-content>
    <!-- items     -->
    </ion-card>

    <ion-card *ngIf="items.length > 0">
        <ion-card-header>
            <h3>Items Agregados</h3>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let item of items; let i = index">
                    <button ion-button color="dark" clear>
                        {{ item.name }}
                    </button>
                    <button (click)="deleteItem(i)" ion-button icon-left outline item-right color="danger" >
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                        Borrar item
                    </button>
                </ion-item>
            </ion-list>
        </ion-card-content>

    </ion-card>

    <button (click)="agregarListainService()" ion-button icon-left class="button-block">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        Agregar Lista
    </button>



</ion-content>
